---
import { getPermalink } from '~/utils/permalinks';
---

<div
	class="hidden md:block bg-primary-100 dark:bg-zinc-900 dark:border-slate-800 dark:text-slate-400 border-b border-primary-100 text-sm px-3 py-2 text-gray-800 overflow-hidden whitespace-nowrap text-ellipsis"
>
	<span class="text-xs py-0.5 px-1 bg-primary-200 dark:bg-zinc-600 font-semibold">New Article</span>
	<a
		href={getPermalink('useful-resources-to-create-websites', 'post')}
		class="hover:underline text-gray-700 dark:text-slate-400"
		>Useful tools and resources to create a professional website »</a
	>
</div>
