---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
import TypingAnimation from './Typing';
---

<section class="bg-image">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 md:py-4">
			<div class="flex-row items-center content-center justify-content-center">
				<div class="block">
					<div class="relative m-auto max-w-xs">
						<Picture
							src={import('~/assets/images/profile.jpg')}
							class="mr-50 rounded-full w-full border-8 inset shadow-inner bg-gradient-to-r from-slate-100 to-white-100 dark:bg-gradient-to-r dark:from-gray-900 dark:to-zinc-900"
							widths={[200, 400]}
							sizes="(max-width: 767px) 200px, (max-width: 1479px) 200px"
							alt="Hero Image"
							loading="eager"
							position="top"
							aspectRatio={10 / 10}
							title=""
						/>
					</div>
				</div>
				<div class="text-left pb-10 my-10 mx-2">
					<h1 class="mb-2 text-xl text-gray-900 dark:text-gray-100 md:text-3xl sm:text-xl">
						<TypingAnimation client:load />
					</h1>
					<div>
						<div class="flex">
							<p class="text-md pt-2 text-justify">
								As a software engineer, I am driven by my curiosity and desire to push the boundaries of what is possible
								with technology. With over four years of experience working in the industry, I have gained a deep
								understanding of software design and development principles, as well as expertise in various programming
								languages and frameworks.
								<br />
								<br/>
								Throughout my career, I have worked on a variety of projects that have challenged me to think creatively and
								develop innovative solutions to complex problems.What sets me apart as a software engineer is my passion for using technology to make a positive impact on the
								world. Whether it's through developing tools that streamline business processes or creating applications that
								improve people's lives, I am always looking for ways to use my skills to make a difference.
								<br />
								<br />
								I believe that diversity is essential to creating truly innovative solutions, and I am committed to bringing
								my unique background and perspective to every project I work on.
								<br/>
								
								<span class="text-sm">Feel free to read and share. 🙂 <em> Enjoy 📖 !</em></span>
							</p>
						</div>
						
						<div class="flex flex-nowrap flex-col sm:flex-row sm:justify-end mt-8 gap-4">
							<div class="flex w-full sm:w-auto">
								<a
									class="btn btn-primary sm:mb-0 w-full"
									href="mailto:subashsapkota59@gmail.com"
									target="_blank"
									rel="noopener"
								>
									<Icon name="ic:outline-mail" class="w-5 h-5 mr-1 -ml-1.5" /> Message
								</a>
							</div>
							<div class="flex w-full sm:w-auto">
								<a class="btn w-full" href="#"> Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
