---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'
---

<section>
	<div class="max-w-7xl mx-auto px-4 sm:px-6">
		<div class="py-4 md:py-4">
			<div class="flex-row items-center md:flex">
				<div class="text-center pb-10 md:pb-16 max-w-2xl mx-2 md:mx-2">
					<div class="max-w-3xl mx-auto">
						
						<p class="text-lg text-gray-600 my-4 dark:text-slate-300 text-justify">
							This is my personal portfolio where I share content related to information technology and my life experiences. Feel free to read and share. 🙂 <em> Enjoy 📖 ! </em>
						</p>
						<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
							<div class="flex w-full sm:w-auto">
								<a
									class="btn btn-primary sm:mb-0 w-full"
									href="mailto:subashsapkota59@gmail.com"
									target="_blank"
									rel="noopener"
								>
									<Icon name="ic:outline-mail" class="w-5 h-5 mr-1 -ml-1.5" /> Message
								</a>
							</div>
							<div class="flex w-full sm:w-auto">
								<a
									class="btn w-full"
									href="#features">Learn more</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="max-w-4xl block mb-2">
					<div class="bg-clip-content m-10 p-10 bg-gray-500 border-4 border-slate-300 border-ridge">
					<div class="relative m-auto">
						<Picture
							src={import('~/assets/images/bg.png')}
							class="mx-auto rounded-md w-full"
							widths={[400, 768]}
							sizes="(max-width: 767px) 400px, (max-width: 1479px) 700px"
							alt="Hero Image"
							aspectRatio={768/600}
							loading="eager"
							width={768}
							height={600}
						/>
					</div>
					</div>
					<div class="text-center mx-2 md:mx-2 mt-2">
						<h1 class="text-md  md:text-[1rem] font-bold">
							<span class="bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">
								<p class="animated-text">
									Hello there👋 I am Subash Chandra Sapkota
								</p>
							</span>
						</h1>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
