---
---

<section class="bg-primary-100 dark:bg-zinc-900">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
		<span class="font-bold">
			Be curious, empathize and learn, experience intution and strengthen conviction
		</span> 
	</div>
</section>
