---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-7xl">
	<div class="grid gap-6 row-gap-10 md:grid-cols-1">
		<div class="md:pb-6 md:pr-16">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">
			  Professional Work Experience Highlights
			</h2>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-zinc-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">2019 June - 2019 Nov</p>
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Frontend Developer Intern</p>
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">ITGlance Pvt. Ltd.</p>
					<p class="text-gray-600 dark:text-slate-400">
						Received training on react, react-native , node-js database concepts git workflow etc. Worked on creating a Point Of Sale Application, Other inhouse projects.
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-zinc-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">2019 Nov - 2020 Nov</p>
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Associate Software Developer</p>
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">Nepal Mind Factory Pvt. Ltd.</p>
					<p class="text-gray-600 dark:text-slate-400">
						Received training on react, react-native , node-js database concepts git workflow etc. Worked on creating a Point Of Sale Application, Other inhouse projects.
					</p>
				</div>
			</div>
			
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-zinc-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">2020 Nov - 2021 Aug</p>
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Cloud/Frontend Developer</p>
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">Ekbana Solutions Pvt. Ltd.</p>
					<p class="text-gray-600 dark:text-slate-400">
						Received training on react, react-native , node-js database concepts git workflow etc. Worked on creating a Point Of Sale Application, Other inhouse projects.
					</p>
				</div>
			</div>

			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-zinc-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">2020 - current</p>
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Software Engineer</p>
					<p class="mb-2 text-lg font-normal text-gray-900 dark:text-slate-300">LogPoint Nepal Pvt. Ltd.</p>
					<p class="text-gray-600 dark:text-slate-400">
						Received training on react, react-native , node-js database concepts git workflow etc. Worked on creating a Point Of Sale Application, Other inhouse projects.
					</p>
				</div>
			</div>

			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2 bg-primary-600">
							<Icon name="tabler:check" class="w-6 h-6 text-white dark:text-slate-200" />
						</div>
					</div>
				</div>
				<div class="pt-1">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Today</p>
					<p class="text-gray-600 dark:text-slate-400"></p>
				</div>
			</div>
		</div>
	</div>
</section>
