---
---

<div class="self-center flex items-baseline ml-2 text-lg md:text-lg font-bold text-gray-900 whitespace-nowrap dark:text-white">
	
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" color="currentColor"
	 viewBox="0 0 392.699 392.699" width="50px" height="30px">
<path style="fill:#56ACE0;" d="M293.707,131.592l-53.075,31.16c9.18,7.887,23.467,11.119,37.56,3.232
	C290.475,158.808,296.293,144.844,293.707,131.592z"/>
<g>
	<path style="fill:#FFC10D;" d="M245.158,39.6c-0.065-0.065-0.065-0.129-0.129-0.259c-11.119-16.743-29.156-22.691-48.549-12.671
		c-10.214,6.982-16.097,15.386-17.131,25.341l25.729-14.481c5.236-2.909,11.895-1.099,14.869,4.202
		c2.909,5.236,1.099,11.895-4.202,14.869l-32.194,18.101c0.065,0.129,0.129,0.323,0.259,0.517c3.685,6.335,6.659,13.123,8.727,20.17
		l10.02-5.495c5.301-2.844,11.895-0.905,14.739,4.396s0.905,11.895-4.396,14.739l-16.679,9.05c0,0.711,0.776,44.8,0.776,44.8
		l117.915-69.172l-37.042-21.463C264.487,64.359,253.174,53.111,245.158,39.6z"/>
	<path style="fill:#FFC10D;" d="M77.723,111.745c-6.012,0-10.925,4.848-10.925,10.925s4.848,10.925,10.925,10.925
		c6.788,0,11.055-5.947,10.925-10.925C88.648,116.594,83.735,111.745,77.723,111.745z"/>
	<path style="fill:#FFC10D;" d="M197.642,324.238c-3.62-6.853-10.796-11.636-19.135-11.636s-15.515,4.784-19.135,11.636
		c6.206-0.517,12.606-0.84,19.135-0.84S191.436,323.721,197.642,324.238z"/>
</g>
<path style="fill:#56ACE0;" d="M178.507,345.184c-40.663,0-73.18,12.024-85.01,25.665h170.02
	C251.687,357.337,219.17,345.184,178.507,345.184z"/>
<path style="fill:#194F82;" d="M172.366,104.376c1.293,5.236,2.133,10.667,2.263,16.097l1.034,61.414
	c-0.129,7.176,7.952,13.77,16.485,9.18l28.962-17.002c17.713,20.04,46.933,23.337,68.137,10.602
	c21.398-12.671,32.582-39.176,24.048-64.646l28.962-17.002c7.24-4.461,7.24-14.481,0-18.877L289.117,53.24
	c-10.408-6.012-19.071-14.739-25.212-25.083c-0.065-0.065-0.065-0.129-0.129-0.259C245.222-0.675,211.218-7.075,185.489,7.664
	c-28.962,18.554-35.103,48.42-21.463,76.347l-60.121,18.877c-5.947-7.952-15.451-13.123-26.117-13.123
	c-18.101,0-32.776,14.675-32.776,32.776s14.675,32.776,32.776,32.776c1.164,0,2.327-0.065,3.426-0.129L150.58,301.03
	c-7.887,6.659-13.382,15.968-14.998,26.57c-41.05,8.404-68.719,28.962-68.719,54.174c0,6.012,4.848,10.925,10.925,10.925h201.438
	c0.065,0,0.065,0,0.065,0c6.012,0,10.925-4.848,10.925-10.925c-0.646-17.455-10.667-28.897-26.57-38.529v-14.287
	c0-6.012-4.848-10.925-10.925-10.925c-6.012,0-10.925,4.848-10.925,10.925v4.008c-6.335-2.133-13.123-4.073-20.299-5.56
	c-3.232-20.816-21.269-36.848-42.99-36.848c-2.844,0-5.624,0.323-8.275,0.776l-69.301-145.778
	c5.624-5.624,9.244-13.382,9.568-21.915L172.366,104.376z M278.192,165.984c-14.093,7.887-28.38,4.655-37.56-3.232l53.075-31.16
	C296.293,144.844,290.475,158.808,278.192,165.984z M196.479,26.671c19.394-10.02,37.43-4.073,48.549,12.671
	c0.065,0.065,0.065,0.129,0.129,0.259c7.952,13.511,19.329,24.824,32.905,32.711l37.042,21.463L197.19,162.945
	c0,0-0.776-44.154-0.776-44.8l16.679-9.051c5.301-2.844,7.24-9.503,4.396-14.739c-2.844-5.236-9.503-7.24-14.739-4.396l-10.02,5.495
	c-2.069-7.046-5.042-13.834-8.727-20.17c-0.065-0.129-0.129-0.323-0.259-0.517l32.194-18.101c5.236-2.909,7.111-9.568,4.202-14.804
	c-2.909-5.236-9.568-7.111-14.869-4.202l-25.729,14.481C180.446,42.121,186.329,33.717,196.479,26.671z M263.517,370.913H93.497
	c11.83-13.576,44.347-25.665,85.01-25.665S251.687,357.337,263.517,370.913z M178.507,312.602c8.339,0,15.515,4.784,19.135,11.636
	c-6.206-0.517-12.606-0.84-19.135-0.84s-12.929,0.323-19.135,0.84C162.992,317.386,170.168,312.602,178.507,312.602z
	 M77.723,133.596c-6.012,0-10.925-4.848-10.925-10.925c0-6.012,4.848-10.925,10.925-10.925s10.925,4.848,10.925,10.925
	C88.778,127.648,84.511,133.596,77.723,133.596z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
	<span>SubashCS</span>
</div>
