<div class="container mx-auto px-6 sm:px-6 max-w-4xl mt-8">
	<h4 class="text-2xl font-bold tracking-tight sm:text-3xl sm:leading-none lg:mb-5 group font-heading">
		<span class="inline-block"> Discussions</span>
	</h4>
	<section class="giscus"></section>
	<!--
		NOTE: keeping it for reference
		<script
		src="https://giscus.app/client.js"
		data-repo="subashcs/ssg-personal-blog"
		data-repo-id="R_kgDOIiDSFA"
		data-category="Blog Post Comments"
		data-category-id="DIC_kwDOIiDSFM4CeVsd"
		data-mapping="url"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="bottom"
		data-theme="dark"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async
	></script> -->

	<script>
		let giscusTheme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
		let giscusAttributes = {
			src: 'https://giscus.app/client.js',
			'data-repo': 'subashcs/ssg-personal-blog',
			'data-repo-id': 'R_kgDOIiDSFA',
			'data-category': 'Blog Post Comments',
			'data-category-id': 'DIC_kwDOIiDSFM4CeVsd',
			'data-mapping': 'pathname',
			'data-strict': '0',
			'data-reactions-enabled': '1',
			'data-emit-metadata': '0',
			'data-input-position': 'bottom',
			'data-theme': giscusTheme,
			'data-lang': 'en',
			crossorigin: 'anonymous',
			async: '',
		};

		let giscusScript = document.createElement('script');
		Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
		document.getElementById('blog-section').appendChild(giscusScript);
	</script>
</div>
